{
  "printWidth": 100,
  "endOfLine": "lf",
  "importOrder": ["^@datagrid/(.*)$", "^@ui/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
