{
  "printWidth": 100,
  "endOfLine": "lf",
  "importOrder": ["^@datagrid/(.*)$", "^@ui/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
